@use 'global'

body
	margin: 0
	padding: 0

	background-color: global.$bg
	color: global.$text

	font-family: 'Work Sans'

main
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin: 2rem

h1
	font-size: 3.5rem

h2
	font-size: 2rem
	text-decoration: dashed underline

#challenge-info
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	p
		width: 600px
		max-width: 100%
		text-align: justify

#leaderboard
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

#submit
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center